@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e7eff6;
}

h1 {
  text-align: center; 
  font-weight: 700; 
  color: #4c74af; 
  margin: 20px;
}

h1 {
  font-size: 1rem;
  text-transform: uppercase;
}

.container {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px #0000001a;
}

.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f7fa;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 4px;
  box-shadow: 0 1px 2px #0000000d;
  transition: background-color 0.2s ease-in-out;
}

.todo-list li:hover {
  background-color: #e1e5ea;
}

.todos {
  padding: 10px 15px;
  border: 2px solid #4c74af;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
  width: calc(100% - 10px);
  box-sizing: border-box;
  box-shadow: 0px 0px 10px #007bff33;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  margin-bottom: 10px;
}

.todos:focus {
  outline: none;
  border-color: #0056b3;
  box-shadow: 0px 0px 15px #007bff80;
}

.todos::placeholder {
  color: #999;
}

.todo-item {
  font-size: 1.2rem;
}
.user-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.sign-in-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px #0000001a;
}

.user-info {
  display: flex;
  align-items: center;
}

button {
  color: white;
  background-color: #4c74af;
  border: none;
  padding: 0.75rem .5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover, button:focus {
  background-color: #1f57ab;
  
}

.todo-item button {
  margin: 2px;
}

.sign-button {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  padding: auto;
}


input {
  height: 75px;
  font-size: 1.5rem;
  width: 500px;
}


