@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

.login {
  margin: 50px 0;
}

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #e7eff6;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

h1 {
  font-family: 'Montserrat', sans-serif; 
  text-align: center; 
  font-weight: 700; 
  font-size: 2.5rem;
  color: #004085;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #00000033; 
  padding-top: 20px; 
  margin-top: 0; 
}

h2 {
  font-family: 'Montserrat', sans-serif; 
  text-align: center; 
  font-weight: 400;
  font-size: 1.5rem; 
  color: #004085; 
  margin-top: 20px; 
  margin-bottom: 20px; 
  text-shadow: 1px 1px 2px #0000001a;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px #0000001a;
}

.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f7fa;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 2px #0000000d;
  transition: background-color 0.2s ease-in-out;
}

.todo-list li:hover {
  background-color: #e1e5ea;
}

button {
  padding: 10px 20px;
  background-color: #004085; 
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 5px; 
  box-shadow: 0 4px 8px #0040854d; 
  cursor: pointer;
  transition: all 0.3s ease; 
  outline: none; 
  margin: 5px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

button:hover, button:focus {
  background-color: #2e73bd; 
  box-shadow: 0 6px 12px #007bff80; 
}

button:active {
  background-color: #004494; 
  box-shadow: 0 2px 4px #007bff80; 
}

button:disabled {
  background-color: #c0c0c0;
  color: #6c757d;
  cursor: not-allowed;
  box-shadow: none;
}

.todos {
  width: 100%;
  margin-bottom: 10px; 
}


.todos {
  padding: 10px 15px;
  border: 2px solid #007bff; 
  border-radius: 5px; 
  font-size: 16px; 
  color: #333; 
  width: calc(100% - 10px); 
  box-sizing: border-box;
  box-shadow: 0px 0px 10px #007bff33;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.todos:focus {
  outline: none;
  border-color: #0056b3; 
  box-shadow: 0px 0px 15px #007bff80; 
}

.todos::placeholder {
  color: #999; 
}



/* Home page */

.home-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}


.hero {
  background: #ffffff;
  border-radius: 8px;
  padding: 40px;
  margin-bottom: 30px;
  box-shadow: 0 2px 4px #0000001a;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #0056b3;
  text-shadow: 1px 1px 2px #0000001a;
}

.hero p {
  font-size: 1rem;
  line-height: 1.6;
  color: hsl(0, 0%, 33%);
}

.tech-stack {
  list-style: none;
  padding: 0;
}

.tech-stack li {
  background: #6c7680;
  color: #ffffff;
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #00000033;
  transition: transform 0.2s;
  font-size: 12px;
}

.tech-stack li:hover {
  transform: translateY(-3px);
  box-shadow: 0px 4px 4px #00000033;
}


.nav-buttons {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.nav-button {
  background-color: #007bff2c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px #00000033;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #0056b3;
}


.sign-button {
  color: #ffffff;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px #00000033;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signIn {
  background-color: #0056b3;
}

.signOut {
  background-color: #dc3545;

}


